.card {
  border: 1px solid #282828;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0; /* Ensure consistency in margins */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #1E1E1E !important; /* Ensure the card background is dark */
  color: #FFFFFF;
  width: 100%; /* Ensure consistent width */
}

.treatment-summary {
  display: flex;
  flex-direction: column;
}

.treatment-summary-title {
  margin-bottom: 20px;
  text-align: center;
  color: #FFC107;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #282828;
  color: #FFFFFF;
}

.table {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; /* Added padding for better spacing */
  background-color: #2C2C2C;
  transition: background-color 0.3s;
}

.table-row:nth-child(even) {
  background-color: #333333; /* Alternate row color */
}

.table-row.verified {
  background-color: #004d40; /* Dark teal for verified rows */
}

.table-row.unverified {
  background-color: #800000; /* Dark red for unverified rows */
}

.label, .value {
  flex-basis: 40%;
  color: #FFFFFF; /* Ensure text is visible */
}

.value input {
  width: 100%;
  color: #FFFFFF;
  background-color: #1E1E1E;
  border: 1px solid #FFFFFF;
}

.info-button {
  flex-basis: 5%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #007BFF;
  font-size: 16px;
  text-align: center;
}

.verification-radio {
  flex-basis: 5%;
  text-align: center;
}

.edit-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.edit-button:hover {
  background-color: #0056b3;
}
