/* TreatmentSummary.css */
.card {
  border: 1px solid #282828;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  background-color: #1E1E1E;
  color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
}

.treatment-summary {
  display: flex;
  flex-direction: column;
}

.treatment-summary-title {
  margin-bottom: 20px;
  text-align: center;
  color: #FFC107;
  font-size: 1.5em;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #282828;
  color: #FFFFFF;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-row {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2C2C2C;
  transition: background-color 0.3s;
}

.table-row:nth-child(even) {
  background-color: #333333;
}

.table-row .label {
  flex: 1;
  color: #FFFFFF;
}

.table-row .value {
  flex: 2;
  color: #FFFFFF;
}

.table-row .score-field,
.table-row .comment-field,
.table-row .verification-checkbox {
  flex: 1;
  padding-left: 10px;
}

.table-row .score-field .MuiInputBase-root,
.table-row .comment-field .MuiInputBase-root {
  color: #FFFFFF;
}

.verification-checkbox {
  display: flex;
  justify-content: center;
}

.edit-button {
  padding: 10px 20px;
  background-color: #007BFF !important;
  color: #FFFFFF !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.edit-button:hover {
  background-color: #0056b3 !important;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiInputBase-root {
  color: #FFFFFF !important;
}

.MuiInputLabel-root {
  color: #FFFFFF !important;
}

.MuiCheckbox-root {
  color: #FFFFFF !important;
}
